.content-section.cancel-membership {
  max-width: 600px;
  padding-bottom: $content-bottom-margin;
  padding-top: $content-bottom-margin;
  background: var(--color-primary);
  margin: 5rem auto;
  box-shadow: 0px 4px 16px 0px #33333314, 0px 4px 4px 0px #3333330A;

  label {
    color: var(--color-white);
  }
  input, textarea {
    background: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }
  

  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 500000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
  }
  input:focus {
    outline: none;
    border-color: #98A2B3;
    box-shadow: none;
  }
  @include desktop-small{
    padding: 44px 1rem;
  }
  
  @media (max-width: 630px) {
    margin: 4rem 1rem;
  };
  .form-actions {
    text-align: center;
    width: 100%;

    button {
      display: block;
      width: 100%;
      background: var(--bg-global-btn);
      color: var(--color-global-btn);
      // border-radius: 8px;
      font-size: 1rem;
    }
  }
}