.page-change-password {
  .prose.max-w-none.pt-12 {
    // background: var(--bg-body);
    padding-bottom: 1px;
  }

}

.content-section.change-password-form {
  max-width: 600px;
  padding: 44px;
  background: var(--login-bg-container);
  margin: 5rem auto;
  // border-radius: 18px;
  box-shadow: 0px 4px 16px 0px #33333314, 0px 4px 4px 0px #3333330A;

  @include desktop-small {
    padding: 44px 1rem;
  }

  @media (max-width: 630px) {
    margin: 4rem 1rem;
  }

  ;

  label {
    color: var(--color-white);
  }


  input,
  textarea {
    background: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }

  input::placeholder,
  textarea::placeholder {
    color: transparent;
  }


  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 500000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
  }

  input:focus {
    outline: none;
    border-color: #98A2B3;
    box-shadow: none;
  }

  .form-actions {
    text-align: center;
    width: 100%;

    button {
      display: block;
      width: 100%;
      background: var(--bg-global-btn);
      color: var(--color-global-btn);
      font-weight: 600;
      font-size: 1rem;
    }
  }
}