// .text-left {
//   padding: 5rem 0;
//   background: var(--text-bg-container);
//   @include desktop-small {
//     padding: 4rem 0;
//   }
// }

.text-left.paragraph {
  padding: 5rem 0;
  // background: var(--bg-secondary);
  @include desktop-small {
    padding: 4rem 0;
  }

  .text-left-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    // max-width: unset;
    background: var(--text-text);
    color: var(--text-bg);

    @include desktop-small {
      flex-direction: column-reverse;
      padding: 0 1rem;
      gap: 2.625rem;
    }

    .paragraph-image {
      flex: 1;
      align-self: stretch;
      width: 100%;

      img {
        width: 100%;
      }
    }

    h4 span {
      color: var(--color-section-subtitle);

      @include typography(text-lg, semibold);

      @include desktop-small {
        @include typography(text-md, semibold);
      }
    }

    .paragraph-text {
      @include desktop-small {
        text-align: center;
      }
    }

    .paragraph-image {
      @include desktop-small {
        height: auto;
        display: flex;
        justify-content: center;
        //padding: 2rem 0;
      }
    }

    .text-left-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1.5rem;
      flex: 1;

      @include desktop-small {
        padding: 0px;
        text-align: start;
        align-items: start;
        gap: 1.125rem;
      }

      .sub-title {
        position: relative;
        h4 {
          margin-left: 38px;
          @include typography(text-lg, semibold);

          &::before {
            content: "";
            position: absolute;
            height: 3px;
            width: 20px;
            left: 0;
            top: 45%;
            background: var(--color-section-subtitle);
            border-radius: 50px;
          }
        }
      }

      .block-title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.625rem;
        //align-self: stretch;
        color: var(--text-bg);
        // max-width: 590px;
        @include typography(display-lg, bold);
        @include desktop-small {
          @include typography(display-md, bold);
        }
        h3 {
          // font-family: var(--default-font-2) !important;
          // text-transform: uppercase;
        }
      }

      p, li {
        @include typography(text-xl, regular);
        color: var(--text-bg);
        @include desktop-small {
          @include typography(text-lg, regular);
        }
        // max-width: 590px;
      }

    }
  }
}
