
.page-about {
  .text-right,
  .text-right .text-right-container {
    background: var(--text-text);
  }

  .text-right .text-right-container .text-right-text .block-title,
  .text-right .text-right-container .text-right-text p{
    color: var(--text-bg);
    @include desktop-small {
      @include typography(text-lg, regular);
    }
  }
}

.text-right {
  align-self: stretch;
  padding: 5rem 0;
  background: var(--text-bg);
  @include desktop-small {
    padding: 4rem 0;
  }

  .text-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    background: var(--text-bg);

    @include desktop-small {
      flex-direction: column;
      padding: 0 1rem;
      gap: 2.625rem;
    }

    .paragraph-image {
      flex: 1;
      align-self: stretch;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .text-right-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 0.625rem;
      flex: 1;

      @include desktop-small {
        padding: 0px;
        text-align: start;
      }

      .sub-title {
        position: relative;
        h4 {
          margin-left: 38px;
          @include typography(display-xs, bold);
          background: var(--text-text);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &::before {
            content: " ";
            position: absolute;
            height: 3px;
            width: 20px;
            left: 0;
            top: 40%;
            background: var(--text-text);
            border-radius: 50px;
          }
        }
      }

      .block-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
        // max-width: 590px;
        color: var(--text-text);
        @include typography(display-lg, bold);
        @include desktop-small {
          @include typography(display-md, bold);
        }
        h3 {
          // font-family: var(--default-font-2) !important;
          // text-transform: uppercase;
        }
      }

      ul {
        margin-left: 2rem;
      }

      p, li {
        @include typography(text-xl, regular);
        color: var(--text-text);
        // max-width: 590px;
      }
      .button {
        align-self: flex-start;
        display: flex;
        align-items: center;
        border-radius: .5rem;
        border: 1px solid var(--text-bg);
        padding: 16px 28px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: normal;
        font-weight: 600;
        background: var(--text-text);
        color: var(--text-bg);
        width: fit-content;
        margin-top: 2rem
      }

    }
  }
}
